{
  "client": {
    "name": "{{ inventory_hostname }}",
    "address": "{{ ansible_default_ipv4['address'] }}",
    "subscriptions": [
{% if inventory_hostname in groups['masters'] %}
      "openshift-master",
{% endif %}
{% if inventory_hostname in groups['etcd'] %}
      "etcd",
{% endif %}
{% if inventory_hostname in groups['nodes'] %}
      "openshift-node",
{% endif %}
{% if inventory_hostname in groups['nfs'] %}
      "nfs",
{% endif %}
      "default"
    ],
    "load": {
            "warning": "{{ [ansible_processor_count,ansible_processor_count,ansible_processor_count]|join(',') }}",
            "critical": "{{ [ansible_processor_count+1,ansible_processor_count+1,ansible_processor_count+1]|join(',') }}"
    }
  }
}
