{
  "client": {
    "name": "{{ inventory_hostname }}",
    "address": "{{ ansible_default_ipv4['address'] }}",
    "subscriptions": [
{% if inventory_hostname in groups['masters'] %}
      "openshift-master",
{% endif %}
      "openshift-node",
      "default"
    ]
  }
}
