#can use your /etc/ansible/hosts

[masters]
master.openshift.com

[nodes]
master.openshift.com
node1.openshift.com
node1.openshift.com

[monitoring]
monitoring.openshift.com

[common-openshift:children]
masters
nodes

[all:vars]
monitoring_vip="1.2.3.4"
rabbitmq_sensu_password="password"
