{
  "checks": {

//Disk
    "disk_ose_registry": {
      "command": "/etc/sensu/plugins/check_disk -w :::disk_slash.warning|20%::: -c :::disk_slash.critical|10%::: -W :::disk_slash.warning|20%::: -K :::disk_slash.critical|10%::: -p {{ openshift_registry_mount_host }}",
      "subscribers": [
        "openshift-master"
      ],
      "handlers": ["mailer", "flowdock"],
      "occurrences": 3,
      "refresh": 86400,
      "interval": 60
    },

//Proc
    "openshift-router-proc": {
      "command": "/usr/local/bin/check-process.rb -p 'openshift-router' -C 1",
      "subscribers": [
        "openshift-master"
      ],
      "handlers": ["mailer", "flowdock"],
      "occurrences": 3,
      "refresh": 86400,
      "interval": 60
    },

//http api openshift
    "openshift-api-https": {
      "command": "/usr/local/bin/check-http.rb -s -k -u {{ openshift_health_url }} -q ok",
      "subscribers": [
        "openshift-master"
      ],
      "handlers": ["mailer", "flowdock"],
      "occurrences": 3,
      "refresh": 86400,
      "interval": 60
    },

//Openshift Nodes
    "openshift-nodes-ready": {
      "command": "/etc/sensu/plugins/monitoring-plugins/check_openshift.py -tf /etc/sensu/openshift_token --base_api {{ sensu_openshift_base_api }} --check_nodes",
      "subscribers": [
        "openshift-master"
      ],
      "handlers": ["mailer", "flowdock"],
      "occurrences": 3,
      "refresh": 86400,
      "interval": 60
    },
//Openshift Scheduling
    "openshift-scheduling": {
      "command": "/etc/sensu/plugins/monitoring-plugins/check_openshift.py -tf /etc/sensu/openshift_token --base_api {{ sensu_openshift_base_api }} --check_scheduling",
      "subscribers": [
        "openshift-master"
      ],
      "handlers": ["mailer", "flowdock"],
      "occurrences": 3,
      "refresh": 86400,
      "interval": 60
    },
//Openshift Pods
    "openshift-pods": {
      "command": "/etc/sensu/plugins/monitoring-plugins/check_openshift.py -tf /etc/sensu/openshift_token --base_api {{ sensu_openshift_base_api }} --check_pods",
      "subscribers": [
        "openshift-master"
      ],
      "handlers": ["mailer", "flowdock"],
      "occurrences": 3,
      "refresh": 86400,
      "interval": 60
    },
    "etcd-http-status-with-openshift-cert": {
      "command": "/usr/local/bin/check-etcd.rb -h $(hostname) -p {{ etcd_port }} --cert /etc/{{ sensu_openshift_etc_config }}/master/master.etcd-client.crt --key /etc/{{ sensu_openshift_etc_config }}/master/master.etcd-client.key  --ssl --insecure",
      "subscribers": [
        "openshift-master"
      ],
      "handlers": ["mailer", "flowdock"],
      "occurrences": 3,
      "refresh": 86400,
      "interval": 60
    }
  }
}
