{
  "checks": {
    "nfsd4-proc": {
      "command": "/usr/local/bin/check-process.rb -p 'nfsd4' -C 1",
      "subscribers": [
        "nfs"
      ],
      "handlers": ["{{ sensu_handlers|join('", "') }}"],
      "occurrences": 3,
      "refresh": 86400,
      "interval": 60
    }
  }
}
