{
  "checks": {
    "etcd-http-status": {
      "command": "/usr/local/bin/check-etcd.rb -h $(hostname) -p {{ etcd_port }} --cert /etc/{{ sensu_openshift_etc_config }}/master/master.etcd-client.crt --key /etc/{{ sensu_openshift_etc_config }}/master/master.etcd-client.key  --ssl --insecure",
      "subscribers": [
        "etcd"
      ],
      "handlers": ["mailer", "flowdock"],
      "occurrences": 3,
      "interval": 60
    }
  }
}
