{
  "checks": {
//load Divide load average results by cpu/core count
    "load": {
      "command": "/usr/local/bin/check-load.rb -p -c :::load.critical|3,3,3::: -w :::load.warning|2,2,2:::",
      "subscribers": [
        "default"
      ],
      "handlers": ["{{ sensu_handlers|join('", "') }}"],
      "occurrences": 3,
      "interval": 60
    },

//mem
    "memory": {
      "command": "/usr/local/bin/check-memory-percent.rb -c :::memory.critical|90::: -w :::memory.warning|80:::",
      "subscribers": [
        "default"
      ],
      "handlers": ["{{ sensu_handlers|join('", "') }}"],
      "occurrences": 3,
      "refresh": 86400,
      "interval": 60
    },

//mount
    "fstab-mount": {
      "command": "/usr/local/bin/check-fstab-mounts.rb",
      "subscribers": [
        "default"
      ],
      "handlers": ["{{ sensu_handlers|join('", "') }}"],
      "occurrences": 3,
      "refresh": 86400,
      "interval": 60
    }
  }
}
