{
  "checks": {

//Disk
    "disk_ose_registry": {
      "command": "/etc/sensu/plugins/check_disk -w :::disk_slash.warning|20%::: -c :::disk_slash.critical|10%::: -W :::disk_slash.warning|20%::: -K :::disk_slash.critical|10%::: -p {{ openshift_registry_mount_host }}",
      "subscribers": [
        "openshift-master"
      ],
      "handlers": ["mailer", "flowdock"],
      "occurrences": 3,
      "interval": 60
    },

//Etcd
    "etcd-http-status": {
      "command": "/usr/local/bin/check-etcd.rb -h 127.0.0.1 -p 4001 --cert /etc/openshift/master/master.etcd-client.crt --key /etc/openshift/master/master.etcd-client.key  --ssl --insecure",
      "subscribers": [
        "openshift-master"
      ],
      "handlers": ["mailer", "flowdock"],
      "occurrences": 3,
      "interval": 60
    },

//Proc
    "openshift-router-proc": {
      "command": "/usr/local/bin/check-process.rb -p 'openshift-router' -C 1",
      "subscribers": [
        "openshift-master"
      ],
      "handlers": ["mailer", "flowdock"],
      "occurrences": 3,
      "interval": 60
    },

    "nfsd4-proc": {
      "command": "/usr/local/bin/check-process.rb -p 'nfsd4' -C 1",
      "subscribers": [
        "openshift-master"
      ],
      "handlers": ["mailer", "flowdock"],
      "occurrences": 3,
      "interval": 60
    },

//http api openshift
    "openshift-api-https": {
      "command": "/usr/local/bin/check-http.rb -s -k -u {{ openshift_health_url }} -q ok",
      "subscribers": [
        "openshift-master"
      ],
      "handlers": ["mailer", "flowdock"],
      "occurrences": 3,
      "interval": 60
    },

//Openshift Nodes
    "openshift-nodes-ready": {
      "command": "/etc/sensu/plugins/monitoring-plugins/check_openshift.py -tf /etc/sensu/openshift_token --check_nodes",
      "subscribers": [
        "openshift-master"
      ],
      "handlers": ["mailer", "flowdock"],
      "occurrences": 3,
      "interval": 60
    },
//Openshift Schedules region
    "openshift-label-retiring": {
      "command": "/etc/sensu/plugins/monitoring-plugins/check_openshift.py -tf /etc/sensu/openshift_token --check_labels",
      "subscribers": [
        "openshift-master"
      ],
      "handlers": ["mailer", "flowdock"],
      "occurrences": 3,
      "interval": 60
    },
//Openshift Pods
    "openshift-pods": {
      "command": "/etc/sensu/plugins/monitoring-plugins/check_openshift.py -tf /etc/sensu/openshift_token --check_pods",
      "subscribers": [
        "openshift-master"
      ],
      "handlers": ["mailer", "flowdock"],
      "occurrences": 3,
      "interval": 60
    }
  }
}
