{
  "handlers": {
    "flowdock": {
      "type": "pipe",
      #"command": "/usr/local/bin/handler-flowdock.rb",
      "command": "/etc/sensu/handlers/handler-flowdock.rb",
      "severities": [
        "critical",
        "ok"
      ]
    }
  }
}
