input {
     journald {
       lowercase => true
       seekto => "head"
       thisboot => true
       type => "systemd"
       tags => [ "journald" ]
     }
}

filter {
    if [type] == "journald" {
      grok {
        match => { "message" => "%{SYSLOGBASE}" }
      }
    }
}
    
output {
    elasticsearch {
        protocol => "http"
        host => "{{ elastisearch_host }}"
    }
}
