input {
    file {
      type => "syslog"
      path => "/var/log/messages"
    }
}
filter {
    if [type] == "syslog" {
      grok {
        match => { "message" => "%{SYSLOGBASE}" }
      }
    }
}
    
output {
    elasticsearch {
        protocol => "http"
        host => "{{ elastisearch_host }}"
    }
}
