<VirtualHost *:{{ httpd_grafana_port }}>
  ServerName {{ httpd_graphs_fqdn }}
{% if httpd_graphs_aliases %}
  ServerAlias{% for alias in httpd_graphs_aliases %} {{ alias }}{% endfor %}
{% endif %}
  #
  # Proxy
  #
{% if httpd_grafana_ssl | bool %}
  SSLEngine on
  SSLCertificateFile {{ httpd_monitoring_cert }}
  SSLCertificateKeyFile {{ httpd_monitoring_key }}
{% endif %}

  <Proxy *>
    Order deny,allow
    Allow from all
    AuthType Basic
    AuthName "Password Required"
    AuthUserFile /etc/httpd/htpasswd
    Require valid-user
  </Proxy>

  ProxyRequests Off
  ProxyPass / http://127.0.0.1:{{ httpd_daemon_grafana_port }}
  ProxyPassReverse / http://127.0.0.1:{{ httpd_daemon_grafana_port }}
  RewriteEngine on
  RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_FILENAME} !-f
  RewriteRule .* http://127.0.0.1:{{ httpd_daemon_grafana_port }}%{REQUEST_URI} [P,QSA]

  ErrorLog /var/log/httpd/grafana_error.log
  LogLevel warn
  CustomLog /var/log/httpd/grafana_access.log combined
</VirtualHost>
