<VirtualHost *:{{ httpd_kibana_port }}>
  ServerName {{ httpd_logs_fqdn }}
{% if httpd_logs_aliases %}
  ServerAlias{% for alias in httpd_logs_aliases %} {{ alias }}{% endfor %}
{% endif %}
  #
  # Proxy
  #

{% if httpd_kibana_httpd_ssl | bool %}
  SSLEngine on
  SSLCertificateFile {{ httpd_monitoring_cert }}
  SSLCertificateKeyFile {{ httpd_monitoring_key }}
{% endif %}

  <Proxy *>
    Order deny,allow
    Allow from all
    AuthType Basic
    AuthName "Password Required"
    AuthUserFile /etc/httpd/htpasswd
    Require valid-user
  </Proxy>

  ProxyRequests Off
  ProxyPass / http://127.0.0.1:{{ httpd_daemon_kibana_port }}
  ProxyPassReverse / http://127.0.0.1:{{ httpd_daemon_kibana_port }}
  RewriteEngine on
  RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_FILENAME} !-f
  RewriteRule .* http://127.0.0.1:{{ httpd_daemon_kibana_port }}%{REQUEST_URI} [P,QSA]

  ProxyPass        /elasticsearch http://localhost:{{ elasticsearch_port }}
  ProxyPassReverse /elasticsearch http://localhost:{{ elasticsearch_port }}

  ErrorLog /var/log/httpd/kibana_error.log
  LogLevel warn
  CustomLog /var/log/httpd/kibana_access.log combined
</VirtualHost>
