<VirtualHost *:{{ httpd_sensu_port }}>
  ServerName {{ httpd_mon_fqdn }}
{% if httpd_sensu_aliases %}
  ServerAlias{% for alias in httpd_sensu_aliases %} {{ alias }}{% endfor %}
{% endif %}

  #
  # Proxy
  #
{% if httpd_sensu_ssl | bool %}
  SSLEngine on
  SSLCertificateFile {{ httpd_monitoring_cert }}
  SSLCertificateKeyFile {{ httpd_monitoring_key }}
{% endif %}

  <Proxy *>
    Order deny,allow
    Allow from all
    AuthType Basic
    AuthName "Password Required"
    AuthUserFile /etc/httpd/htpasswd
    Require valid-user
  </Proxy>

  ProxyRequests Off
  ProxyPass / http://127.0.0.1:{{ sensu_uchiwa_port }}
  ProxyPassReverse / http://127.0.0.1:{{ sensu_uchiwa_port }}
  RewriteEngine on
  RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_FILENAME} !-f
  RewriteRule .* http://127.0.0.1:{{ sensu_uchiwa_port }}%{REQUEST_URI} [P,QSA]

  ErrorLog /var/log/httpd/sensu_error.log
  LogLevel warn
  CustomLog /var/log/httpd/sensu_access.log combined
</VirtualHost>
