[Unit]
After=docker.service
Requires=docker.service
PartOf=docker.service

[Service]
ExecStartPre=-/usr/bin/docker rm -f openshift-monitoring-client
ExecStart=/usr/bin/docker run --name openshift-monitoring-client --rm --privileged --net=host --pid=host \
-v /lib/modules:/lib/modules \
-v /run:/run \
-v /sys:/sys:ro \
-v /etc/sensu/config.json:/etc/sensu/config.json \
-v /etc/sensu/conf.d:/etc/sensu/conf.d \
-v /etc/default/sensu:/etc/default/sensu \
-v /etc/sudoers.d/sensu:/etc/sudoers.d/sensu \
-v /opt/rcip-openshift-scripts:/opt/rcip-openshift-scripts \
-v /etc/sensu/openshift_token:/etc/sensu/openshift_token \
{% if inventory_hostname in groups['masters'] or inventory_hostname in groups['nodes'] %}
-v /etc/origin:/etc/origin \
{% endif %}
{% if inventory_hostname in groups['etcd'] %}
-v /etc/etcd:/etc/etcd \
{% endif %}
rcip/openshift-monitoring-client

ExecStartPost=/usr/bin/sleep 5
ExecStop=/usr/bin/docker stop openshift-monitoring-client
Restart=always

[Install]
WantedBy=multi-user.target
