{
  "rabbitmq": {
    "host": "{{ rabbitmq_host }}",
    "port": "{{ rabbitmq_port }}",
    "user": "{{ rabbitmq_sensu_user }}",
    "password": "{{ rabbitmq_sensu_password }}",
    "vhost": "{{ rabbitmq_sensu_vhost }}"
  }
}
