MASTER_CONF=/etc/{{ masters_etc_config }}/master
dir=/opt/rcip-openshift-scripts
if [ -d $dir ]; then
  eval $(python ${dir}/backup/etcd/get_env.py "${MASTER_CONF}")
  export ETCDCTL="etcdctl --cert-file ${etcd_certFile} --key-file ${etcd_keyFile} --ca-file ${etcd_ca} --no-sync --peers ${etcd_url}"
  alias etcdctl="${ETCDCTL}"
fi
