LoadPlugin disk

<Plugin disk>
    #Disk "/^xvd[a-f][0-9]?$/"
    #root fs
    Disk "/{{ collecd_disk_rootfs }}/"
    #volume docker storage
    Disk "/{{ docker_storage_dev }}1/"
{% if ansible_fqdn in groups['masters'] %}
    #volume ose-registry
    Disk "/{{ collecd_disk_ose_registry }}/"
{% endif %}
    IgnoreSelected false
</Plugin>
